/* wissal */
.red{
color: red;
font-family: sans-serif;
font-size: large;

}
.blue{
    color: rgb(37, 37, 106);
    font-size: xX-large;
    font-family: sans-serif;
}
.s1{
    display: flex;;
    width: 100%;
    justify-content: space-between;
    
}
.subject{
    background-color: lightblue;
    width: 50%;
    color: rgb(44, 44, 118);
}
.mail{
    background-color: lightblue;
    width: 700px;
    height: 30px;
    color: rgb(44, 44, 94);
}
.s2{
    background-color: lightblue;
    height: 55px;
    color: rgb(44, 44, 104);
}
.w2{
    background-color: red;
    color: white;
    border: 2px solid red ;
    border-radius: 50px   ;
    font-family: sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* wissal footer */
.foot {
    background-color: rgb(25, 25, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f {
    color: white;
    font-size: small;
    font-family: sans-serif;



}

.c {
    color: red;
    font-size: xx-large;
}

.socials {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-size: x-large;
}
.socials :hover{
    color: gray;
}

.flist {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    width: 50%;
}